<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178344396586-n3q14f5ak6994tia1rh1bli7joul3jbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178344396586-n3q14f5ak6994tia1rh1bli7joul3jbd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>178344396586-4k8hliav468sshh4hgc4q2mqktudesno.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB3r9-7LysQEbceBzsXmJgSqXZ5kG6MEpk</string>
	<key>GCM_SENDER_ID</key>
	<string>178344396586</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.kjo.KJOMindCare</string>
	<key>PROJECT_ID</key>
	<string>kjo-mind-care-e85ca</string>
	<key>STORAGE_BUCKET</key>
	<string>kjo-mind-care-e85ca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178344396586:ios:8b797f9001da4605130053</string>
</dict>
</plist>